@media screen and (max-width: 600px) {
  /* .nav-right {
    display: none;
  }
  .nav-left {
    justify-content: center;
    align-items: center;
  } */
  .nav-bar{
    display: none;
  }

  /* banner */
  .banner {
    margin: 0 1.25rem;
  }
  .banner-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 1.25rem;
    gap: 1rem;
    height: inherit;
    min-width: fit-content;
  }

  /* popular tour */

  .popular-tour {
    margin: 0 1.25rem;
    display: flex;
    flex-direction: column;
  }
  .popular-tour-content {
    max-width: 100%;

    height: auto;
  }

  /* choose your destination */
  .destination {
    margin: 0 1.25rem;
  }
  .destination-img-1,
  .destination-img-2,
  .destination-img-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 24px;
    justify-content: center;
    max-width: 100vw;
  }

  /* why-choose-us */
  .why-choose-us-content {
    max-width: 100vw;
    margin: 0 1.25rem;
  }

  .why-choose-us-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
  /* .hotels,
  .services,
  .price {
    width: 100%;
  } */

  .price-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.25rem;
    margin-top: 1.4rem;
    max-width: 100vw;
    width: 95%;
  }
  .choose-div {
    max-width: 100vw;
    height: auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  /* newsletter */
  .newsletter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 6.25rem 1.25rem 6.25rem 1.25rem;
  }

  .newsletter-left {
    width: 81.5vw;
    height: 70%;
  }
  .newsletter-left > input {
    height: 6.25rem;
  }
  .newsletter-picture > img {
    width: 91vw;
    height: 100%;
  }

  /* feedback */
  .feedback {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-radius: 1rem;
    padding: 3rem;
    margin: 3rem 1.25rem;
  }
}
